@using CSM.Bataan.School.WebSite.Infrastructure.Data.BusinessObjects;
@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.News.IndexViewModel

@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


@section tableHead{
    <div class="row">
        <div class="col-lg-9">
            <div class="input-group mb-3">
                <input type="text" id="searchKeyword" placeholder="search groups" class="form-control" aria-label="search groups" aria-describedby="basic-addon2" value="@Model.News.Keyword">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="table-responsive table--no-card m-b-30">
                <a href="~/manage/groups/create" class="btn btn-lg btn-info btn-block">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>Create News</span>
                </a>
            </div>
        </div>
    </div>
}

@if (Model.News.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Expires</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (NewsFeedItem news in Model.News.Items)
                {
                    <tr>
                        <td><img src="/images/news/@news.Id/@Guid.NewGuid()/thumbnail.png" style="width:75px;height:75px;" /></td>
                        <td>@news.Title</td>
                        <td>@news.UserName</td>
                        <td>@news.PostExpiry.ToString("MMM dd yyyy")</td>
                        <td>
                            @{
                                if (news.IsPublished)
                                {
                                    <a href="#" title="Unpublish" onclick="confirmUnpublish('@news.Id','@news.Title')"><button class="btn-danger form-control-sm"><i class="fas fa-window-close"></i></button></a>
                                }
                                else
                                {
                                    <a href="#" title="Publish" onclick="confirmPublish('@news.Id','@news.Title')"><button class="btn-success form-control-sm"><i class="fas fa-check-square"></i></button></a>
                                }
                            }
                            <a href="~/manage/news/update-content/@news.Id" title="Update Content"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a>
                            <a href="#" title="Update Title" onclick="showUpdateTitle('@news.Id','@news.Title','@news.Description')"><button class="btn-success form-control-sm"><i class="fas fa-pen-square"></i></button></a>
                            <a href="#" title="Update Banner Image" onclick="showUpdateBannerModal('@news.Id','@news.Title')"><button type="button" class="btn-success form-control-sm"><i class="fas fa-image"></i></button></a>
                            <a href="#" title="Update Thumbnail Image" onclick="showUpdateThumbnailModal('@news.Id','@news.Title')"><button type="button" class="btn-success form-control-sm"><i class="fas fa-file-image"></i></button></a>
                            <a href="~/manage/news/news-groups/@news.Id" title="News Groups"><button type="button" class="btn-success form-control-sm"><i class="fas fa-users"></i></button></a>

                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.News.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/news/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.News.Keyword)" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.News.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            @{
                                var prev = Model.News.PageIndex - 1;
                                if (prev > 0)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/news?keyword=@Model.News.Keyword&pageSize=@Model.News.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                                }
                            }
                            <li class="page-item"><a class="page-link" href="#">@(Model.News.PageIndex)</a></li>
                            @{
                                var next = Model.News.PageIndex + 1;
                                if (next <= Model.News.PageCount)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/news?keyword=@Model.News.Keyword&pageSize=@Model.News.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>0 search results.</p>
}

@section extras{
    <div class="modal" tabindex="-1" role="dialog" id="modal-change-publish-status">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="modal-change-publish-status-verb"></span> News</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="~/manage/news/update-publish-status" method="post">
                    <input type="hidden" name="Id" id="modal-change-publish-status-id" />
                    <input type="hidden" name="Filters" value="pageIndex=@Model.News.PageIndex&pageSize=@Model.News.PageSize&keyword=@Model.News.Keyword" />
                    <input type="hidden" name="IsPublished" id="modal-change-publish-status-ispublished" />
                    <div class="modal-body">
                        <p>Are you sure you want to <span class="modal-change-publish-status-verb"></span> <span id="modal-change-publish-status-title"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal-update-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update News Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="~/manage/news/update-title" method="post" style="padding:15px;">
                    <input type="hidden" name="Id" id="modal-update-title-id" />
                    <input type="hidden" name="Filters" value="pageIndex=@Model.News.PageIndex&pageSize=@Model.News.PageSize&keyword=@Model.News.Keyword" />
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" id="modal-update-title-title" name="Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="">Desscription</label>
                            <textarea id="modal-update-title-desc" class="form-control" name="Description">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" id="modal-update-title-postExpiry" name="PostExpiry" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal-update-news-thumbnail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update News Thumbnail Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="~/manage/news/update-thumbnail" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="Id" id="modal-update-news-thumbnail-news-id" />
                        <input type="hidden" name="Filters" value="pageIndex=@Model.News.PageIndex&pageSize=@Model.News.PageSize&keyword=@Model.News.Keyword" />
                        <p>Thumbnail for <strong><span id="modal-update-news-thumbnail-title"></span></strong></p>
                        <div class="profile-image-container" style="margin-bottom:30px;">
                            <img src="" class="img-thumbnail rounded mx-auto d-block" id="modal-update-news-thumbnail-image" style="width:100px;height:100px;" />
                        </div>

                        <input type="file" class="form-control" name="ImageFile" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button></a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal-update-news-banner">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update News Banner Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="~/manage/news/update-banner" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="Id" id="modal-update-news-banner-news-id" />
                        <input type="hidden" name="Filters" value="pageIndex=@Model.News.PageIndex&pageSize=@Model.News.PageSize&keyword=@Model.News.Keyword" />
                        <p>Banner for <strong><span id="modal-update-news-banner-title"></span></strong></p>
                        <div class="profile-image-container" style="margin-bottom:30px;">
                            <img src="" class="img-banner rounded mx-auto d-block" id="modal-update-news-banner-image" style="width:400px;height:120px;" />
                        </div>

                        <input type="file" class="form-control" name="ImageFile" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button></a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section pageScripts{
    <script type="text/javascript">
        $(function () {
            $('#modal-update-title-postExpiry').datepicker({
                format: "MM/dd/yyyy"
            });
        });

        function showUpdateThumbnailModal(newsId, newsTitle) {
            $("#modal-update-news-thumbnail-news-id").val(newsId);
            $("#modal-update-news-thumbnail-title").html(newsTitle);
            $("#modal-update-news-thumbnail-image").attr("src", "/images/news/"+ newsId+"/@Guid.NewGuid()/thumbnail.png");
            $("#modal-update-news-thumbnail").modal("show");
        }

        function showUpdateBannerModal(newsId, newsTitle) {
            $("#modal-update-news-banner-news-id").val(newsId);
            $("#modal-update-news-banner-title").html(newsTitle);
            $("#modal-update-news-banner-image").attr("src", "/images/news/"+ newsId+"/@Guid.NewGuid()/banner.png");
            $("#modal-update-news-banner").modal("show");
        }

        function confirmUnpublish(newsId, newsTitle) {
            $("#modal-change-publish-status-id").val(newsId);
            $("#modal-change-publish-status-title").html(newsTitle);
            $(".modal-change-publish-status-verb").html("unpublish");
            $("#modal-change-publish-status-ispublished").val(false);
            $("#modal-change-publish-status").modal("show");
        }

        function confirmPublish(newsId, newsTitle) {
            $("#modal-change-publish-status-id").val(newsId);
            $("#modal-change-publish-status-title").html(newsTitle);
            $(".modal-change-publish-status-verb").html("publish");
            $("#modal-change-publish-status-ispublished").val(true);
            $("#modal-change-publish-status").modal("show");
        }

        function showUpdateTitle(newsId, newsTitle, newsDesc) {
            $("#modal-update-title-id").val(newsId);
            $("#modal-update-title-title").val(newsTitle);
            $("#modal-update-title-desc").html(newsDesc);
            $("#modal-update-title").modal("show");
        }

        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });

        function searchTrigger() {
            window.location = "/manage/news?pageIndex=1&keyword=" + $("#searchKeyword").val();
        }
    </script>
}