@using CSM.Bataan.School.WebSite.Infrastructure.Data.BusinessObjects;
@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.News.IndexViewModel

@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


@section tableHead{
    <div class="row">
        <div class="col-lg-9">
            <div class="input-group mb-3">
                <input type="text" id="searchKeyword" placeholder="search groups" class="form-control" aria-label="search groups" aria-describedby="basic-addon2" value="@Model.News.Keyword">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="table-responsive table--no-card m-b-30">
                <a href="~/manage/groups/create" class="btn btn-lg btn-info btn-block">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>Create News</span>
                </a>
            </div>
        </div>
    </div>
}

@if (Model.News.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (NewsFeedItem news in Model.News.Items)
                {
                    <tr>
                        <td><img src="/images/news/@news.Id/@Guid.NewGuid()/thumbnail.png" style="width:75px;height:75px;" /></td>
                        <td>@news.Title</td>
                        <td>@news.UserName</td>
                        <td>
                            <a href="~/manage/news/update/@news.Id" title="Update News"><button type="button" class="btn"><i class="fas fa-pen-square"></i></button></a>
                            <a href="~/manage/news-groups/@news.Id" title="News Groups"><button type="button" class="btn"><i class="fas fa-users"></i></button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.News.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/news/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.News.Keyword)" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.News.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            @{
                                var prev = Model.News.PageIndex - 1;
                                if (prev > 0)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/news?keyword=@Model.News.Keyword&pageSize=@Model.News.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                                }
                            }
                            <li class="page-item"><a class="page-link" href="#">@(Model.News.PageIndex)</a></li>
                            @{
                                var next = Model.News.PageIndex + 1;
                                if (next <= Model.News.PageCount)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/news?keyword=@Model.News.Keyword&pageSize=@Model.News.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>0 search results.</p>
}

@section extras{
    <div class="modal" tabindex="-1" role="dialog" id="modal-delete-group">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete News</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span id="modal-delete-group-groupname"></span>?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="modal-delete-group-confirm"><button type="button" class="btn btn-primary">Delete News</button></a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section pageScripts{
    <script type="text/javascript">
        function confirmDeleteNews(newsId, newsTitle) {
            $("#modal-delete-news-groupname").html(newsTitle);
            $("#modal-delete-news-confirm").attr("href", "/manage/news/delete/" + newsId);
            $("#modal-delete-news").modal("show");
        }

        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });

        function searchTrigger() {
            window.location = "/manage/news?pageIndex=1&keyword=" + $("#searchKeyword").val();
        }
    </script>
}