@model CSM.Bataan.School.WebSite.ViewModels.AlumniProfiles.AlumniProfileViewModel

@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}



<div id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">

                <article>
                    <div class="heading">
                        <h3>Montessorians Alumni</h3>
                    </div>
                    <div class="clearfix">
                    </div>

                    <div class="row">
                        <div class="span5">
                            <!-- start flexslider -->
                            <div class="container">
                                <div class="row">

                                    <div class="img">
                                        <img src="~/images/alumniprofiles/@Model.AlumniProfileId/thumbnail.png" style="width:150px;height:150px;" />
                                    </div>

                                </div>
                            </div>
                            <!-- end flexslider -->
                            <div class="blank10"></div>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="span7">
                            <aside>
                                <div class="container">
                                    <h4>Alumni Graduates information</h4>

                                    <ul class="project-detail">
                                        <li><label>Company :</label> @Model.Company</li>
                                        <li><label>Position :</label> @Model.Position</li>
                                        <li><label>Location :</label> @Model.Location</li>
                                        <li><label>From Date :</label>@Model.FromDate</li>
                                        <li><label>To Date :</label>@Model.ToDate</li>
                                      
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>




                </article>
            </div>

        </div>

    </div>

</div>
<!-- end article full post -->
