@model CSM.Bataan.School.WebSite.ViewModels.AlumniProfiles.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Security;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}
 Welcome @WebUser.FullName
<h2>Alumni Students</h2>
<section id="maincontent">
    <div class="container">
        <div class="row">
            @*<ul class="portfolio-area da-thumbs">*@
            @{

                foreach (AlumniProfile alumniprofile in Model.AlumniProfiles)
                {
                    <div class="responsive">
                        <div class="gallery">
                            <a target="_blank" href="~/alumniprofiles/@alumniprofile.Id">
                                <img src="~/images/alumniprofiles/@alumniprofile.Id/thumbnail.png" alt="@alumniprofile.Company" width="600" height="400">
                            </a>
                            <a href="~/alumniprofiles/@alumniprofile.Id"><div class="desc">@alumniprofile.Company</div></a>
                        </div>
                    </div>

                    @*<div class="column">
                            <div class="content">
                                <img src="~/images/alumniprofiles/@alumniprofile.Id/thumbnail.png" alt="@alumniprofile.Company" style="width:100%">
                                <dl>
                                    <dt>From Date:</dt>
                                    <dd>@alumniprofile.FromDate.ToString("dddd, dd MMMM yy")</dd>

                                    <dt>To Date:</dt>
                                    <dd>@alumniprofile.ToDate.ToString("dddd, dd MMMM yy")</dd>
                                </dl>

                                <a href="~/alumniprofiles/@alumniprofile.Id"><button class="btn btn-primary">View</button></a>
                                <p></p>
                            </div>
                        </div>*@
                    <!-- END MAIN -->
                }
            }
        </div>

    </div>
</section>




<style>
    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }

    @@media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @@media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>