@model CSM.Bataan.School.WebSite.ViewModels.AlumniProfiles.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Security;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}
 Welcome @WebUser.FullName

<section id="maincontent">
    <div class="container">
        <div class="row">
            @*<ul class="portfolio-area da-thumbs">*@
            @{

                foreach (AlumniProfile alumniprofile in Model.AlumniProfiles)
                {

                    @*<li class="portfolio-item" data-id="@alumniprofile.Id" data-type="web">
                            <div class="span3">
                                <div class="thumbnail">
                                    <div class="image-wrapp ">
                                        <img src="~/alumniprofiles/@alumniprofile.Id/thumbnail.png" alt="@alumniprofile.Company" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto " href="~/alumniprofiles/@alumniprofile.Id/thumbnail.png">
                                                <i class="icon-bg-light icon-zoom-in icon-circled icon-2x"></i>
                                            </a>
                                            <a href="~/home/detail/@alumniprofile.Id">
                                                <i class="icon-bg-light icon-link icon-circled icon-2x"></i>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="desc">
                                        <h5><i class="icon-user"></i> <strong>@alumniprofile.Company</strong></h5>
                                        <dl>
                                            <dt>From Date:</dt>
                                            <dd>@alumniprofile.FromDate</dd>
                                            <dt>To Date:</dt>
                                            <dd>@alumniprofile.FromDate</dd>
                                        </dl>


                                    </div>

                                    <a href="~/alumniprofiles/detail/@alumniprofile.Id"><button class="btn-primary">View</button></a>
                                </div>

                            </div>
                        </li>*@


                    <!-- Portfolio Gallery Grid -->

                    <div class="column">
                        <div class="content">
                            <img src="~/images/alumniprofiles/@alumniprofile.Id/thumbnail.png" alt="@alumniprofile.Company" style="width:100%">
                            <dl>
                                <dt>From Date:</dt>
                                <dd>@alumniprofile.FromDate.ToString("dddd, dd MMMM yy")</dd>

                                <dt>To Date:</dt>
                                <dd>@alumniprofile.ToDate.ToString("dddd, dd MMMM yy")</dd>
                            </dl>
                           
                            <a href="~/alumniprofiles/@alumniprofile.Id"><button class="btn btn-primary">View</button></a>
                            <p></p>
                        </div>
                    </div>


                    <!-- END MAIN -->








                }

            }


            @*</ul>*@


        </div>

    </div>
</section>




<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
    }

    /* Center website */
    .main {
        max-width: 1000px;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        word-break: break-all;
    }

    .row {
        margin: 8px -16px;
    }

        /* Add padding BETWEEN each column */
        .row,
        .row > .column {
            padding: 8px;
        }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        background-color: white;
        padding: 10px;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media screen and (max-width: 900px) {
        .column {
            width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
</style>