@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.Achievers.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


<div class="card-container col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3">
                <input id="searchKeyword" type="text" class="form-control" value="@Model.Achievers.Keyword" placeholder="Search by title" aria-label="Search title" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="searchTrigger()">Search</button>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.Achievers != null)
        {
            if (Model.Achievers.Items.Count > 0)
            {
                foreach (Achiever achiever in Model.Achievers.Items)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/images/achievers/@achiever.Id/thumbnail.png" style="width:150px;height:150px;" />
                                </div>
                                <div class="col-sm-9">
                                    <h4>@achiever.Title</h4>
                                    <p>@achiever.Content</p>


                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="~/manage/achievers/update-title/@achiever.Id" title="Update Title"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/achievers/update-content/@achiever.Id" title="Update content"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/achievers/update-banner/@achiever.Id" title="Update banner"><button class="btn-success form-control-sm"><i class="fas fa-image"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/achievers/update-thumbnail/@achiever.Id" title="Update thumbnail"><button class="btn-success form-control-sm"><i class="fas fa-image"></i></button></a></li>

                                        @{
                                            if (achiever.IsPublished)
                                            {
                                                <li class="list-inline-item"><a href="#" title="Unpublish" onclick="confirmUnpublish('@achiever.Id','@achiever.Title')"><button class="btn-danger form-control-sm"><i class="fas fa-window-close"></i></button></a></li>
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a href="#" title="Publish" onclick="confirmPublish('@achiever.Id','@achiever.Title')"><button class="btn-success form-control-sm"><i class="fas fa-check-square"></i></button></a></li>
                                            }
                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                }

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="~/manage/achievers?pageIndex=1">First</a></li>
                    @{ if (Model.Achievers.PageIndex > 1)
                        {
                            <li class="page-item"><a class="page-link" href="~/manage/achievers?pageIndex=@(Model.Achievers.PageIndex - 1)">@(Model.Achievers.PageIndex - 1)</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link active" href="#">@(Model.Achievers.PageIndex)</a></li>
                    @{ if ((Model.Achievers.PageIndex + 1) <= Model.Achievers.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="~/manage/achievers?pageIndex=@(Model.Achievers.PageIndex + 1)">@(Model.Achievers.PageIndex + 1)</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" href="~/manage/achievers?pageIndex=@Model.Achievers.PageCount">Last</a></li>
                </ul>
            }
        }
    }
</div>






<!--MODAL-->
<div class="modal" tabindex="-1" role="dialog" id="modal-unpublish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unpublish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unpublish <span id="modal-unpublish-title"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" role="dialog" id="modal-publish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to publish <span id="modal-publish-title"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-publish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>








@section pageScripts{
    <script>
        //////////////////////SEARCH/////////////////////////////////////////////////////////////////
        function searchTrigger() {
            window.location = "/manage/achievers?pageIndex=1&keyword=" + $("#searchKeyword").val();

        }
        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });
        ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
        function confirmUnpublish(id, title) {
            $("#modal-unpublish-title").html(title);
            $("#modal-unpublish-button").attr("onclick", "UnpublishAchiever('" + id + "')");
            $("#modal-unpublish").modal("show");
        }
        function UnpublishAchiever(id) {
            $.ajax({
                type: "POST",
                url: "/manage/achievers/unpublish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }

        //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
        function confirmPublish(id, title) {
            $("#modal-publish-title").html(title);
            $("#modal-publish-button").attr("onclick", "PublishAchiever('" + id + "')");
            $("#modal-publish").modal("show");
        }
        function PublishAchiever(id) {
            $.ajax({
                type: "POST",
                url: "/manage/achievers/publish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }
    </script>
}