@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.AlumniProfiles.IndexViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}






<div class="card-container col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3">
                <input id="searchKeyword" type="text" class="form-control" value="@Model.AlumniProfiles.Keyword" placeholder="Search by title" aria-label="Search title" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="searchTrigger()">Search</button>
                </div>
            </div>
        </div>
    </div>

    @{
        if (Model.AlumniProfiles != null)
        {
            if (Model.AlumniProfiles.Items.Count > 0)
            {
                foreach (AlumniProfile alumniprofiles in Model.AlumniProfiles.Items)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/images/alumniprofiles/@alumniprofiles.Id/thumbnail.png" style="width:150px;height:150px;" />
                                </div>
                                <div class="col-sm-9">
                                    <h4>@alumniprofiles.Company</h4>
                                    <p>@alumniprofiles.Description</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="~/manage/alumniprofiles/update-banner/@alumniprofiles.Id" title="Upload Banner"><button class="btn-success form-control-sm"><i class="fas fa-image"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/alumniprofiles/update-thumbnail/@alumniprofiles.Id" title="Upload Thumbnail"><button class="btn-success form-control-sm"><i class="fas fa-file-image"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/alumniprofiles/update-content/@alumniprofiles.Id" title="Update Content"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                        <li class="list-inline-item"><a href="~/manage/alumniprofiles/update-title/@alumniprofiles.Id" title="Update Title"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                        @{
                                            if (alumniprofiles.IsPublished)
                                            {
                                                <li class="list-inline-item"><a href="#" title="Unpublish" onclick="confirmUnpublish('@alumniprofiles.Id','@alumniprofiles.Company')"><button class="btn-danger form-control-sm"><i class="fas fa-window-close"></i></button></a></li>
                                            }
                                            else
                                            {
                                                <li class="list-inline-item"><a href="#" title="Publish" onclick="confirmPublish('@alumniprofiles.Id','@alumniprofiles.Company')"><button class="btn-success form-control-sm"><i class="fas fa-check-square"></i></button></a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="~/manage/alumniprofiles?pageIndex=1">First</a></li>
                    @{ if (Model.AlumniProfiles.PageIndex > 1)
                        {
                            <li class="page-item"><a class="page-link" href="~/manage/alumniprofiles?pageIndex=@(Model.AlumniProfiles.PageIndex - 1)">@(Model.AlumniProfiles.PageIndex - 1)</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link active" href="#">@(Model.AlumniProfiles.PageIndex)</a></li>
                    @{ if ((Model.AlumniProfiles.PageIndex + 1) <= Model.AlumniProfiles.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="~/manage/alumniprofiles?pageIndex=@(Model.AlumniProfiles.PageIndex + 1)">@(Model.AlumniProfiles.PageIndex + 1)</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" href="~/manage/alumniprofiles?pageIndex=@Model.AlumniProfiles.PageCount">Last</a></li>
                </ul>
            }
        }
    }

</div>

@*<dl>
    <dt>Position</dt>
    <dd> @alumniprofile.Position</dd>
    <dt>Location</dt>
    <dd> @alumniprofile.Location</dd>
    <dt>Description</dt>
    <dd> @alumniprofile.Description</dd>
    <dt>From Date</dt>
    <dd> @alumniprofile.FromDate</dd>

    <dt>To Date</dt>
    <dd> @alumniprofile.ToDate</dd>*@




</dl>
<!--MODAL UNPUBLISH-->
<div class="modal hide fade" id="modal-unpublish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Unpublish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to unpublish <span id="modal-unpublish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>


<!--MODAL PUBLISH-->
<div class="modal hide fade " id="modal-publish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Publish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to publish <span id="modal-publish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" id="modal-publish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>



@section pageStyles{

}



@section pageScripts{
    <script>
        //////////////////////SEARCH/////////////////////////////////////////////////////////////////
        function searchTrigger() {
            window.location = "/manage/ads?pageIndex=1&keyword=" + $("#searchKeyword").val();

        }
        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });
        ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
        function confirmUnpublish(id, title) {
            $("#modal-unpublish-title").html(title);
            $("#modal-unpublish-button").attr("onclick", "UnpublishAds('" + id + "')");
            $("#modal-unpublish").modal("show");
        }
        function UnpublishAds(id) {
            $.ajax({
                type: "POST",
                url: "/manage/ads/unpublish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }

        //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
        function confirmPublish(id, title) {
            $("#modal-publish-title").html(title);
            $("#modal-publish-button").attr("onclick", "PublishAds('" + id + "')");
            $("#modal-publish").modal("show");
        }
        function PublishAds(id) {
            $.ajax({
                type: "POST",
                url: "/manage/ads/publish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }
    </script>
}