@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.Faqs.IndexViewModel

@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}




<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">

                <form class="form-search">
                    <input id="searchKeyword" placeholder="Type Something.." value="@Model.Faqs.Keyword" type="text" class="input-medium search-query " />
                    <button type="submit" class="btn btn-flat btn-primary">Search</button>
                </form>
                <h3><a href="#">FAQ View</a></h3>

                <div class="container">
                    @{
                        if (Model.Faqs != null)
                        {
                            if (Model.Faqs.Items.Count > 0)
                            {
                                foreach (Faq faqs in Model.Faqs.Items)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h4>@faqs.Question</h4>
                                                    <p>@faqs.Description</p>
                                                    <ul class="list-inline">

                                                        <li class="list-inline-item"><a href="~/manage/faqs/update-content/@faqs.Id" title="Update Content"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                                        <li class="list-inline-item"><a href="~/manage/faqs/update-question/@faqs.Id" title="Update Title"><button class="btn-success form-control-sm"><i class="fas fa-file-alt"></i></button></a></li>
                                                        <li class="list-inline-item"><a href="~/manage/faqs/update-banner/@faqs.Id" title="Upload Banner"><button class="btn-success form-control-sm"><i class="fas fa-image"></i></button></a></li>
                                                        @{
                                                            if (faqs.IsPublished)
                                                            {
                                                                <li class="list-inline-item"><a href="#" title="Unpublish" onclick="confirmUnpublish('@faqs.Id','@faqs.Question')"><button class="btn-danger form-control-sm"><i class="fas fa-window-close"></i></button></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="list-inline-item"><a href="#" title="Publish" onclick="confirmPublish('@faqs.Id','@faqs.Question')"><button class="btn-success form-control-sm"><i class="fas fa-check-square"></i></button></a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }







                            }



                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="~/manage/faqs?pageIndex=1">First</a></li>
                                @{ if (Model.Faqs.PageIndex > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="~/manage/faqs?pageIndex=@(Model.Faqs.PageIndex - 1)">@(Model.Faqs.PageIndex - 1)</a></li>
                                    }
                                }
                                <li class="page-item"><a class="page-link active" href="#">@(Model.Faqs.PageIndex)</a></li>
                                @{ if ((Model.Faqs.PageIndex + 1) <= Model.Faqs.PageCount)
                                    {
                                        <li class="page-item"><a class="page-link" href="~/manage/faqs?pageIndex=@(Model.Faqs.PageIndex + 1)">@(Model.Faqs.PageIndex + 1)</a></li>
                                    }
                                }
                                <li class="page-item"><a class="page-link" href="~/manage/faqs?pageIndex=@Model.Faqs.PageCount">Last</a></li>
                            </ul>
                        }
                    }

                </div>
            </div>



        </div>
        <div class="span4">

        </div>
    </div>

</section>




<!--MODAL-->
<div class="modal" tabindex="-1" role="dialog" id="modal-unpublish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unpublish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unpublish <span id="modal-unpublish-title"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" role="dialog" id="modal-publish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to publish <span id="modal-publish-title"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-publish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!--MODAL DELETE-->
<div class="modal hide fade " id="modal-delete-faq">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete FAQ</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span id="modal-delete-faq"></span>?</p>
    </div>
    <div class="modal-footer">
        <a href="#" id="modal-delete-faq-confirm"><button type="button" class="btn btn-primary">Delete Faq</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>




@section pageScripts{
    <script>
        //////////////////////SEARCH/////////////////////////////////////////////////////////////////
        function searchTrigger() {
            window.location = "~/manage/faqs?pageIndex=1&keyword=" + $("#searchKeyword").val();

        }
        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });
        ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
        function confirmUnpublish(id, question) {
            $("#modal-unpublish-title").html(question);
            $("#modal-unpublish-button").attr("onclick", "UnPublishFaq('" + id + "')");
            $("#modal-unpublish").modal("show");
        }
        function UnPublishFaq(id) {
            $.ajax({
                type: "POST",
                url: "/manage/faqs/unpublish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }

        //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
        function confirmPublish(id, question) {
            $("#modal-publish-title").html(question);
            $("#modal-publish-button").attr("onclick", "PublishFaq('" + id + "')");
            $("#modal-publish").modal("show");
        }
        function PublishFaq(id) {
            $.ajax({
                type: "POST",
                url: "/manage/faqs/publish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }
        //////////////////DELETE///////////////////////////////////////////////////////////////////////
        function confirmDeleteFaq(faqId, question) {
            $("#modal-delete-faq-faqs").html(question);
            $("#modal-delete-faq-confirm").attr("href", "deleteFaq" + faqId);
            $("#modal-delete-faq").modal("show");
        }
    </script>
}   