@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.Faqs.UpdateQuestionViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


<h2>Update Title</h2>

<div class="row">
    <div class="col-md-6">
        <form action="~/manage/faqs/update-question" method="post">
            @Html.ValidationSummary()
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <label for="Question">Title:</label>
                <input id="question" type="text" class="form-control" name="Question" value="@Model.Question" />
            </div>
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <label for="Description">Description:</label>
                <input id="description" type="text" class="form-control" name="Description" value="@Model.Description" />
            </div>

            <div class="form-group">
                <label for="Post Expiry">Post Expiry:</label>
                <input type="text" class="form-control" name="PostExpiry" id="Post Expiry" value="@Model.PostExpiry" />
            </div>

            <div class="form-group">
                <label for="Template">Template:</label>
                <select name="TemplateName">

                    <option value="post 1" @(Model.TemplateName == "post 1" ? "selected" : "")>post 1</option>
                    <option value="post 2" @(Model.TemplateName == "post 2" ? "selected" : "")>post 2</option>
                    <option value="post 3" @(Model.TemplateName == "post 3" ? "selected" : "")>post 3</option>
                </select>


            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="~/manage/faqs/Index" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>

@section pageScripts{
    <script>
        $(function () {
            $("#PostExpiry").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
}