@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.SchoolEvents.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


<h2>Index</h2>


<div class="card-container col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3">
                <input id="searchKeyword" type="text" class="form-control" value="@Model.SchoolEvents.Keyword" placeholder="Search by title" aria-label="Search title" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="searchTrigger()">Search</button>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.SchoolEvents != null)
        {
            if (Model.SchoolEvents.Items.Count > 0)
            {
                foreach (SchoolEvent schoolevent in Model.SchoolEvents.Items)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/posts/@schoolevent.Id/thumbnail.png" style="width:150px;height:150px;" />
                                </div>
                                <div class="col-sm-9">
                                    <h4>@schoolevent.Title</h4>
                                    <p>@schoolevent.Description</p>
                                    <ul>

                                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> @schoolevent.EventStart - @schoolevent.EventEnd</li>
                                        <li><a href="~/manage/schoolevents/update-title/@schoolevent.Id" title="Update Title"><i class="fas fa-file"></i></a></li>
                                        <li><a href="~/manage/schoolevents/update-content/@schoolevent.Id" title="Update Content"><i class="fas fa-file"></i></a></li>
                                        <li><a href="~/manage/schoolevents/update-thumbnail/@schoolevent.Id" title="Update Thumbnail"><i class="fas fa-image"></i></a></li>
                                        <li><a href="~/manage/schoolevents/update-banner/@schoolevent.Id" title="Update Banner"><i class="fas fa-image"></i></a></li>

                                        @{
                                            if (schoolevent.IsPublished)
                                            {
                                                <li><a href="#" title="Unpublish" onclick="confirmUnpublish('@schoolevent.Id','@schoolevent.Title')"><i class="icon-rounded icon-32 icon-remove"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" title="Publish" onclick="confirmPublish('@schoolevent.Id','@schoolevent.Title')"><i class="icon-rounded icon-32 icon-check"></i></a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>



<!--MODAL UNPUBLISH-->
<div class="modal hide fade" id="modal-unpublish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Unpublish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to unpublish <span id="modal-unpublish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>


<!--MODAL PUBLISH-->
<div class="modal hide fade " id="modal-publish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Publish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to publish <span id="modal-publish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" id="modal-publish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>




@section pageScripts{
    <script>

        //////////////////////SEARCH/////////////////////////////////////////////////////////////////
        function searchTrigger() {
            window.location = "/manage/schoolevents?pageIndex=1&keyword=" + $("#searchKeyword").val();

        }
        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });
        ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
        function confirmUnpublish(id, title) {
            $("#modal-unpublish-title").html(title);
            $("#modal-unpublish-button").attr("onclick", "UnpublishSchoolEvents('" + id + "')");
            $("#modal-unpublish").modal("show");
        }
        function UnpublishSchoolEvents(id) {
            $.ajax({
                type: "POST",
                url: "/manage/schoolevents/unpublish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }

        //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
        function confirmPublish(id, title) {
            $("#modal-publish-title").html(title);
            $("#modal-publish-button").attr("onclick", "PublishSchoolEvents('" + id + "')");
            $("#modal-publish").modal("show");
        }
        function PublishSchoolEvents(id) {
            $.ajax({
                type: "POST",
                url: "/manage/schoolevents/publish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }
    </script>
}