@model CSM.Bataan.School.WebSite.Areas.Manage.ViewModels.SchoolFacilities.UpdateTitleViewModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml"; 
}



<title>UpdateTitle</title>



<div class="row">
    <div class="col-md-6">
        <form action="~/manage/schoolfacilities/update-title" method="post">
            @Html.ValidationSummary()
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <label for="Title">Title:</label>
                <input type="text" class="form-control" name="Title" value="@Model.Title" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" rows="4" name="Description">
                    @Model.Description
                </textarea>
            </div>
            <div class="form-group">
                <label for="Post Expiry">Post Expiry:</label>
                <input type="text" class="form-control" name="PostExpiry" id="postExpiry" value="@Model.PostExpiry" />
            </div>
            <div class="form-group">
                <label for="Template">Template:</label>
                <select name="TemplateName">
                    <option value="post 1" @(Model.TemplateName == "post 1" ? "selected" : "")>post 1</option>
                    <option value="post 2" @(Model.TemplateName == "post 2" ? "selected" : "")>post 2</option>
                    <option value="post 3" @(Model.TemplateName == "post 3" ? "selected" : "")>post 3</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section pageScripts{
    <script>
    $(function () {
        $("#postExpiry").datepicker({ dateFormat: 'dd/mm/yy' });
    });
    </script>
}