@using CSM.Bataan.School.WebSite.Infrastructure.Data.BusinessObjects;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@using CSM.Bataan.School.WebSite.ViewModels;
@model CSM.Bataan.School.WebSite.ViewModels.Home.IndexViewModel

@{
    Layout = "~/views/shared/_layout.cshtml";
}

<div class="slider">
    <ul class="bxslider">
        <li>
            <div class="container">
                <div class="info">
                    <h2>Ad 1 here <br><span>@@Jane</span></h2>
                    <a href="#">More</a>
                </div>
            </div>
            <!-- / content -->
        </li>
        <li>
            <div class="container">
                <div class="info">
                    <h2>Ad 2 here <br><span>@@Jane</span></h2>
                    <a href="#">More</a>
                </div>
            </div>
            <!-- / content -->
        </li>
        <li>
            <div class="container">
                <div class="info">
                    <h2>Ad 3 here <br><span>@@Jane</span></h2>
                    <a href="#">More</a>
                </div>
            </div>
            <!-- / content -->
        </li>
    </ul>
    <div class="bg-bottom"></div>
</div>

<section class="mission-vision">
    <div class="container">
        <article>
            <div class="pic"><img width="121" src="images/2.png" alt=""></div>
            <div class="info">
                <h3>MISSION</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. </p>
            </div>
        </article>
        <article>
            <div class="pic"><img width="121" src="images/3.png" alt=""></div>
            <div class="info">
                <h3>VISION</h3>
                <p>Vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa.</p>
            </div>
        </article>
    </div>
    <!-- / container -->
</section>

<section class="news">
    <div class="container">
        <h2>Latest news</h2>
      
        @{

            foreach (NewsFeedItem newsItem in Model.PublicNews)
            {
                <article>
                    <div class="pic"><img src="~/images/news/@newsItem.Id/@Guid.NewGuid()/thumbnail.png" alt="@newsItem.Title" style="width:112px;height:112px;" /></div>
                    <div class="info">
                        <h4>@newsItem.Title</h4>
                        <p class="date">@newsItem.Timestamp.ToString("dd MMM yyyy"), @newsItem.UserName</p>
                        <p>@newsItem.Description</p>
                        <a class="more" href="~/news/@newsItem.Id">Read more</a>
                    </div>
                </article>
            }
        }
        <div class="btn-holder">
            <a class="btn" href="~/news/index">See more news</a>
        </div>

    </div>
    <!-- / container -->
</section>


<section class="events">
    <div class="container">
        <div class="row">

            @*@{
                foreach (SchoolEvent schoolevents in Model.PublicEvents)
                {
                   
                }

            }*@
            <div class="col-sm events-column">
                <div class="current-date">
                    <p></p>
                    <p class="date">15</p>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="~/schoolevents">Read more</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">17</p>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="~/schoolevents">Read more</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">25</p>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="~/schoolevents">Read more</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">29</p>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
                    <a class="more" href="~/schoolevents">Read more</a>
                </div>
            </div>
        </div>

        <div class="btn-holder">
            <a class="btn red" href="~/schoolevents">See all upcoming events</a>
        </div>
        <!-- / container -->
    </div>
</section>



<section class="montessorians">
    <div class="container">
        <h2>Montessorians @@Larich and @@Hayna</h2>
        <article>
            <div class="pic"><img src="images/1.png" alt=""></div>
            <div class="info">
                <h4>Featured Achiever @@Larich</h4>
                <p class="date">14 APR 2014, Jason Bang</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores (...)</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="pic"><img src="images/1_1.png" alt=""></div>
            <div class="info">
                <h4>Featured Alumnus @@Hayna</h4>
                <p class="date">14 APR 2014, Jason Bang</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores (...)</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <div class="btn-holder">
            <a class="btn" href="#">See archival news</a>
        </div>
    </div>
    <!-- / container -->
</section>

<section class="facilities">
    <div class="container">
        <h2>Facilities @@Shayne</h2>
        <div id="facilities-slider">
            <div>
                <div class="row">
                    <div class="col-6"><img width="500" src="images/comlab.png" alt=""></div>
                    <div class="col-6">
                        <h3>CSS Laboratory</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-6"><img width="500" src="images/comlab.png" alt=""></div>
                    <div class="col-6">
                        <h3>CSS Laboratory</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-6"><img width="500" src="images/comlab.png" alt=""></div>
                    <div class="col-6">
                        <h3>CSS Laboratory</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / container -->
</section>

<div class="container">
    <a href="#fancy" class="info-request">
        <span class="holder">
            <span class="title">Request information</span>
            <span class="text">Do you have some questions? Fill the form and get an answer!</span>
        </span>
        <span class="arrow"></span>
    </a>
</div>

<section class="trainings-assessments">
    <div class="container">
        <h2>Training and Assessments</h2>
        <div class="row">
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">15</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">17</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">25</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">29</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
        </div>
        <div class="btn-holder">
            <a class="btn red" href="#">See all Trainings and Assessments</a>
        </div>
    </div>
    <!-- / container -->
</section>

@Html.Partial("~/views/shared/_footer.cshtml")