@using CSM.Bataan.School.WebSite.Infrastructure.Data.BusinessObjects;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@using CSM.Bataan.School.WebSite.ViewModels;
@model CSM.Bataan.School.WebSite.ViewModels.Home.IndexViewModel

@{
    Layout = "~/views/shared/_layout.cshtml";
}


@*<div class="info">
    <h3>SENIOR HIGH SCHOL</h3><hr>
    <h4>GRADE ELEVEN & GRADE TWELVE</h4><hr>
    <h5>ACADEMIC TRACK</h5><hr>
    <ul>
        <li>ACCOUNTANCY, BUSINESS & MANAGEMENT(ABM), </li>
        <li> SCIENCE, TECHNOLOGY , ENGINEERING & MATHEMATICS (STEM),</li>
        <li>  HUMANITIES & SOCIAL STUDIES(HUMSS),</li>
        <li>GENERAL ACADEMIC STRAND (GAS)</li>
    </ul>
    <hr>
    <h5>TECHNICAL-VOCATIONAL LIVELIHOOD TRACK:</h5>
    <p>
        HOME ECONOMICS<hr>
        FOOD AND BEVERAGE SERVICES NC II<hr>
        FRONT OFFICE SERVICES NC II <hr>
        HOUSEKEEPING NC II <hr>
        INFORMATION & COMMUNICATION TECHNOLOGY<hr>
        COMPUTER SYSTEMS SERVICING NC II<hr>
        PROGRAMMING(NET TECHNOLOGY) NC II
    </p>
    <address>
        <h4>FOR MORE INQUIRIES, CALL AND VISIT FOLLOWING:</h4><hr>
        <strong>
            TELEPHONE NO.:<strong>
                (047)633-5531 <hr>
                <strong>SMART:</strong> 0923-430-3906/ 0912-091-8401 <hr>
                <strong>GLOBE:</strong> 0915-306-6606 <hr>
                <strong>EMAIL ADDRESS:</strong> csm.bataan888@yahoo.com <hr>
                <strong>FB PAGE:</strong> www.facebook.com/csmbataan <hr>

    </address>*@
    @*@{
            foreach (Ad ads in Model.PublicAds)
            {

            }
        }*@
<div class="slider">
    <ul class="bxslider">
        <li>
            <div class="container">
                <div class="info">
                    <h2>
                        SENIOR HIGH SCHOOL TRACK <br>
                    </h2>
                    <p>
                        Grade Eleven & Grade Twelve<br />
                        <strong> Academic Tracks</strong> <br />
                       ACCOUNTANCY, BUSINESS & MANAGEMENT(ABM),<br />
                         SCIENCE, TECHNOLOGY , ENGINEERING & MATHEMATICS (STEM),<br />
                          HUMANITIES & SOCIAL STUDIES(HUMSS),<br />
                        GENERAL ACADEMIC STRAND (GAS)<br />
                    </p>
                         <a href="~/ads/0f4c91e9-cf0c-4313-9f3c-6348d2f78637">More</a>
</div>
                </div>
                <!-- / content -->
            </li>
    <li>
        <div class="container">
            <div class="info">
                <h2>COLLEGE DEPARTMENT <br>
                </h2>
                <p>

                    <strong>CHED PROGRAMS</strong><br />
                    (COURSES)<br />
                    BSBA<br />
                    1.MFM<br />
                    2.OM,MM<br />
                    3.HRDM & etc.<br />
                </p>
                <a href="~/ads/42802934-fd23-4aa1-91db-4bed4b4e0fc1">More</a>
            </div>
        </div>
        <!-- / content -->
    </li>
    <li>
        <div class="container">
            <div class="info">
                <h2>COLLEGE DEPARTMENT <br>
                </h2>
                <p>
                    <strong>TESDA PROGRAMS</strong><br />
                    CSS NC II<br />
                    F&B NC II<br />
                    FOS NC II<br />
                    HK NC II<br />
                    VGD NC III (AC)<br />
                </p>
                <a href="~ads/4909f1f3-46b3-42a4-99df-31962e8672e4">More</a>
            </div>
        </div>
        <!-- / content -->
    </li>
    </ul>
    <div class="bg-bottom"></div>
</div>

<section class="mission-vision">
    <div class="container">
        <article>
            <div class="pic"><img width="121" src="images/2.png" alt=""></div>
            <div class="info">
                <h3>MISSION</h3>
                <p>To provide out student the "prepared environment"<br />
                 for learning and to equip them the need skills<br />
                to live successfully on their own<br />
                -"SEIPSUM FACIT PERSONA"
                -"MAN MAKES HIMSELF"; geared towards the developments of a complete human being,<br />
                oriented to the environment and society<br />
                and adpted to hos time,place and culture:<br />
                thus transforming them to be self-reliant<br />
                independent,creative,competetive<br />
                and productive individual.
                </p>
            </div>
        </article>
        <article>
            <div class="pic"><img width="121" src="images/3.png" alt=""></div>
            <div class="info">
                <h3>VISION</h3>
                <p>We envision and commit ourselves to<br />
                the development of a complete human being<br />
                geared towards the transformation of a <br />
                highly reliant, independent,creative and <br />
               productive individuals oriented<br />
                environment and society.</p>
            </div>
        </article>
    </div>
    <!-- / container -->
</section>

<section class="news">
    <div class="container">
        <h2>Latest news</h2>

        @{

            foreach (NewsFeedItem newsItem in Model.PublicNews)
            {
                <article>
                    <div class="pic"><img src="~/images/news/@newsItem.Id/@Guid.NewGuid()/thumbnail.png" alt="@newsItem.Title" style="width:112px;height:112px;" /></div>
                    <div class="info">
                        <h4>@newsItem.Title</h4>
                        <p class="date">@newsItem.Timestamp.ToString("dd MMM yyyy"), @newsItem.UserName</p>
                        <p>@newsItem.Description</p>
                        <a class="more" href="~/news/@newsItem.Id">Read more</a>
                    </div>
                </article>
            }
        }
        <div class="btn-holder">
            <a class="btn" href="~/news/index">See more news</a>
        </div>

    </div>
    <!-- / container -->
</section>


@*<section class="events">
        <div class="container">
            <div class="row">


                <div class="col-sm events-column">
                    <div class="current-date">
                        <p>May</p>
                        <p class="date">27</p>
                    </div>
                    <div class="info">
                        <p>End of Summer Classes</p>
                        <a class="more" href="~/schoolevents/242687ed-786f-46df-bd77-070611f6fb2a">Read more</a>
                    </div>
                </div>
                <div class="col-sm events-column">
                    <div class="current-date">
                        <p>May</p>
                        <p class="date">01</p>
                    </div>
                    <div class="info">
                        <p>Labor Day(Regular Holiday).</p>
                        <a class="more" href="~/schoolevents/bb39a11d-9504-482b-b6c0-71ab89fb6f8e">Read more</a>
                    </div>
                </div>
                <div class="col-sm events-column">
                    <div class="current-date">
                        <p>April</p>
                        <p class="date">19</p>
                    </div>
                    <div class="info">
                        <p>Issuance of Report Cards.</p>
                        <a class="more" href="~/schoolevents/bb00ae9c-2da5-47f3-afda-e407ac501e2b">Read more</a>
                    </div>
                </div>
                <div class="col-sm events-column">
                    <div class="current-date">
                        <p>April</p>
                        <p class="date">17</p>
                    </div>
                    <div class="info">
                        <p>Higher Education Commercement Rites.</p>
                        <a class="more" href="~/schoolevents/e25f75cc-ba7e-4801-bc08-c67e68e3115e">Read more</a>
                    </div>
                </div>
            </div>

            <div class="btn-holder">
                <a class="btn red" href="~/schoolevents">See all upcoming events</a>
            </div>
             / container
        </div>
    </section>*@



<section class="montessorians">
    <div class="container">
        <h2>CSM Achiever and Alumni's</h2>
        <article>
            <div class="pic"><img src="~/images/achievers/c59bf4f4-b2ad-487f-aef9-3e3dbb074d28/thumbnail.png" style="width:150px;height:150px;" alt=""></div>
            <div class="info">
                <h4>CSM Achievers</h4>
                <p class="date">14 APR 2018,Kyle Christian D. Silva </p>
                <p>Bachelor of Science Information Technology (...)</p>
                <a class="more" href="~/achievers/c59bf4f4-b2ad-487f-aef9-3e3dbb074d28">Read more</a>
            </div>
            <a class="btn" href="~/achievers">See All Achievers</a>
        </article>
        <article>
            <div class="pic"><img src="~/images/alumniprofiles/f0547387-5b67-4e28-bba7-92b378bf31c0/thumbnail.png" alt=""></div>
            <div class="info">
                <h4>CSM Alumni's</h4>
                <p class="date">14 APR 2018, Mark Javier</p>
                <p>Bachelor of Science Customs Administration (...)</p>
                <a class="more" href="~/alumniprofiles/f0547387-5b67-4e28-bba7-92b378bf31c0">Read more</a>
            </div>
            <a class="btn" href="~/alumniprofiles">See All Alumni's</a>
        </article>
        <div class="btn-holder">


        </div>
    </div>
    <!-- / container -->
</section>

<section class="facilities">
    <div class="container">
        <h2>CSM Facilities</h2>
        <div id="facilities-slider">
            <div>
                <div class="row">
                    <div class="col-6"><img width="500" src="~/images/schoolfacilities/013525f8-6204-45fa-824b-80c007f79b1f/banner.png" style="width:500px;height:350px;" alt=""></div>
                    <div class="col-6">
                        <a href="~/schoolfacilities/013525f8-6204-45fa-824b-80c007f79b1f"><h3>Front office</h3></a>
                        <p>An area equipped with all the needed tools... </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-6"><img width="500" src="~/images/schoolfacilities/013752a0-3163-46a1-ba37-72af38460eb9/banner.png" style="width:500px;height:350px;" alt=""></div>
                    <div class="col-6">
                        <a href="~/schoolfacilities/013752a0-3163-46a1-ba37-72af38460eb9"><h3>Parking Area</h3></a>
                        <p>Our school parking area. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">

                    <div class="col-6"><img width="500" src="~/images/schoolfacilities/0534aa2c-4b8b-4770-a6cb-ab12ca40f535/banner.png" style="width:500px;height:350px;" alt=""></div>
                    <div class="col-6">
                        <a href="~/schoolfacilities/0534aa2c-4b8b-4770-a6cb-ab12ca40f535"><h3>Guidance Office</h3></a>
                        <p> In the guidance office students can receive counseling about . </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / container -->
</section>

<div class="container">
    <a href="#fancy" class="info-request">
        <span class="holder">
            <span class="title">Request information</span>
            <span class="text">Do you have some questions? Fill the form and get an answer!</span>
        </span>
        <span class="arrow"></span>
    </a>
</div>

<section class="trainings-assessments">
    <div class="container">
        <h2>Training and Assessments</h2>
        <div class="row">
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">15</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">17</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">25</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
            <div class="col-sm events-column">
                <div class="current-date">
                    <p>April</p>
                    <p class="date">29</p>
                </div>
                <div class="info">
                    <h3>ABC-VGD Assessment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
                    <a class="more" href="#">Register</a>
                </div>
            </div>
        </div>
        <div class="btn-holder">
            <a class="btn red" href="#">See all Trainings and Assessments</a>
        </div>
    </div>
    <!-- / container -->
</section>

@Html.Partial("~/views/shared/_footer.cshtml")