@model CSM.Bataan.School.WebSite.ViewModels.Courses.IndexViewModel
@using CSM.Bataan.School.WebSite.Infrastructure.Security;
@using CSM.Bataan.School.WebSite.Infrastructure.Data.Models;
@{
    Layout = "~/Areas/Manage/Views/Shared/_managelayout.cshtml";
}


 Welcome @WebUser.FullName

<section class="posts-con" id="post-container">

    @{
        foreach (Course courses in Model.Courses)
        {
            <article>
                <div class="info">
                    <img class="card-img-top" src="~/courses/@courses.Id/banner.png" alt="Card image cap" style="max-width:750px;max-height:300px;">
                    <h1>@courses.Title</h1>
                    <p class="info-line"><span class="time">@courses.Timestamp.ToString("dddd, dd MMMM yyyy hh:mm tt")</span></p>
                    <pre>@Html.Raw(courses.Description)</pre>
                    <p><a href="~/courses/@courses.Id" class="btn btn-primary">Read More &rarr;</a></p>
                </div>
            </article>
        }
    }

</section>



@section pageScripts{`
    <script src="~/js/date_format.js"></script>
    <script>
    var page = @("1");
    var calling = false;
    $(window).scroll(function () {
        if (($(window).height() + $(window).scrollTop()) + 1
            >= $(document).height()) {

            if (calling == false) {
                calling = true;
                $.ajax({
                    type: "GET",
                    url: "/courses/feed?pageIndex=" + (page + 1),
                    success: function (rsp) {
                        page = page + 1;
                        calling = false;
                        $.each(rsp, function (index, item) {
                            var itemTimestamp = new Date(Date.parse(item.timestamp));
                            var markup = "<article>";
                            markup = markup + "<div class='info'>";
                            markup = markup + "<img class='card-img-top' src='../courses/" + item.id + "/banner.png' alt='Card image cap' style='max-width:750px;max-height:300px;'>";
                            markup = markup + "<h1>" + item.title +  "</h1>";
                            markup = markup + "<p class='info-line'><span class='time'>" + itemTimestamp.format("dddd, mmmm d, yyyy hh:MM TT") + "</span></p>";
                            markup = markup + "<p>" + item.description + "</p>";
                            markup = markup + "<p><a href='~/courses/" + item.Id + "' class='btn btn-primary'>Read More &rarr;</a></p>";
                            markup = markup + "</div>";
                            markup = markup + "</article>";

                            $("#post-container").append(markup);
                        });
                    }
                });
            }
        }
    });
    </script>
}
